@inject IStringLocalizer<AccountController> Localizer
@model SimpleNotesApp.ViewModels.ForgotPasswordViewModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = Localizer["ForgotPasswordTitle"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/auth/auth.css" asp-append-version="true">
}

<div class="auth-container py-5">
    <div class="auth-card-wrapper">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card card-login shadow-lg border-0 rounded-lg">
                    <div class="card-header card-header-login text-white d-flex justify-content-between align-items-center">
                        <h3 class="text-center font-weight-light my-2 flex-grow-1">@Localizer["ForgotPasswordTitle"]</h3>
                    </div>
                    <div class="card-body p-4">
                        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                            <div asp-validation-summary="All" class="text-danger mb-3"></div>
                            
                            <div class="form-floating mb-3">
                                <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                                <label asp-for="Email">@Localizer["EmailPlaceholder"]</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            
                            <div class="login-button">
                                <button type="submit" class="btn btn-primary btn-lg">@Localizer["ResetPasswordButton"]</button>
                            </div>
                        </form>
                    </div>
                    <div class="login-card-footer text-center py-3">
                        <div class="small text-white">
                            <a asp-action="Login" class="text-light">@Localizer["BackToLogin"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
} 